[submodule "third-party/cld2"]
	path = third-party/cld2
	url = https://github.com/CLD2Owners/cld2.git
	ignore = dirty
[submodule "test/unit/googletest"]
	path = test/unit/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "third-party/slacktee"]
	path = third-party/slacktee
	url = https://github.com/course-hero/slacktee.git
	ignore = dirty
