[submodule "third-party/cld2"]
	path = third-party/cld2
	url = https://github.com/privacore/cld2.git
	ignore = dirty
[submodule "test/unit/googletest"]
	path = test/unit/googletest
	url = https://github.com/privacore/googletest.git
	ignore = dirty
[submodule "third-party/slacktee"]
	path = third-party/slacktee
	url = https://github.com/privacore/slacktee.git
	ignore = dirty
[submodule "third-party/compact_enc_det"]
	path = third-party/compact_enc_det
	url = https://github.com/privacore/compact_enc_det.git
	ignore = dirty
[submodule "third-party/cld3"]
	path = third-party/cld3
	url = https://github.com/privacore/cld3.git
	ignore = dirty
[submodule "third-party/c-ares"]
	path = third-party/c-ares
	url = https://github.com/privacore/c-ares.git
	ignore = dirty
[submodule "third-party/sparsepp"]
	path = third-party/sparsepp
	url = https://github.com/privacore/sparsepp.git
	ignore = dirty
